{{ define "content" }}
{{ $lastDataTime := .LastUpdateTime }}
{{ $time := .TimeSpan }}
{{ $view := .View }}

<div class="content">
    <div style="text-align: center; margin-bottom:60px;">
        <h1 style="margin-bottom:10px;">MEV-Boost Analytics</h1>

        <p style="color: #6d6d6d; margin-top:0; line-height: 1.4em;">
            <small>
                Updated at slot {{ .LastUpdateSlot }}
                <span id="updated_ago">({{ $lastDataTime | humanTime }})</span>
            </small>
        </p>
        <p id="view-type">
            <a href="/overview?t={{ $time }}" id="a-view-type-overview" {{ if eq $view "overview" }}class="active" {{ end }}>Overview</a>
            &middot;
            <a href="/builder-profit?t={{ $time }}" id="a-view-type-profitability" {{ if eq $view "builder-profit" }}class="active" {{ end }}>Builder Profitability</a>
        </p>
        <p id="stats-time">
            {{ range $index, $timerange := .TimeSpans }}
            {{ if ne $index 0 }} &middot; {{ end }}
            <a href="/{{ $view }}?t={{ $timerange }}" id="stats-time-pick-{{ $timerange }}" class="stats-time-pick {{ if eq $timerange $time }}active{{ end }}">{{ $timerange }}</a>
            {{ end }}
        </p>
    </div>

    <div class="pure-g" id="content-overview" {{ if ne $view "overview" }}style="display: none;" {{ end }}>
        <div class="pure-u-1 pure-u-md-1-2 stats-table" id="stats-relays">
            <div id="stats-relays-inner">
                <table class="pure-table pure-table-horizontal" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Relay</th>
                            <th>Payloads</th>
                            <th>Percent</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-relays" class="tbody-relays">
                        {{ range .Stats.TopRelays }}
                        <tr class="tr-relay" onmouseover="relayMouseOver('{{.Relay}}')" onmouseout="relayMouseOut('{{.Relay}}')">
                            <td class="td-relay-name"><a href="https://{{ .Relay }}" target="_blank">{{ .Relay }}</a></td>
                            <td style="text-align:right">{{ .NumPayloads | prettyInt }}</td>
                            <td style="text-align:right">{{ .Percent }} %</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                <div class="copy-table-to-clipboard">
                    <a href="/overview/md" onclick="copyRelays(event); return false;">copy markdown <i id="copy-relays-to-clipboard-icon" class="bi bi-clipboard"></i></a>
                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 stats-table" id="stats-builders">
            <div id="stats-builders-inner">
                <table class="pure-table pure-table-horizontal" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Builder (extra_data)</th>
                            <th>Blocks</th>
                            <th style="min-width: 100px;">Percent</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-builders-all" class="tbody-builders">
                        {{ range .Stats.TopBuilders }}
                        <tr class="tr-parent">
                            <td class="td-builder-extradata">
                                {{ if .Info.ExtraData }}{{ .Info.ExtraData }}{{ else }}&nbsp;{{ end }}
                                {{ if ne (len .Info.Aliases) 0 }}
                                <span class="tooltip-wrapper">
                                    <i class="tooltip-icon bi bi-info-circle" aria-describedby="tooltip-builder-alias"></i>
                                    <div id="tooltip-builder-alias" class="tooltip builder-aliases" role="tooltip">
                                        <b>extra_data values:</b>
                                        <ul>
                                            {{ range .Info.Aliases }}
                                            <li>{{ . }}</li>
                                            {{ end }}
                                        </ul>
                                        <div id="arrow" data-popper-arrow></div>
                                    </div>
                                </span>
                                {{ end }}
                            </td>
                            <td class="td-builder-num-blocks">{{ .Info.NumBlocks | prettyInt }}</td>
                            <td class="td-builder-percent">{{ .Info.Percent }} %</td>
                            <td>
                                {{ if ne (len .Children) 0 }}
                                <span class="chevron">⌄</span>
                                {{ end }}
                            </td>
                        </tr>
                            {{ range .Children }}
                            <tr class="tr-child" style="background-color: rgb(243, 241, 241);">
                                <td class="td-builder-extradata td-builder-extradata-child" style="margin-left: 10px;">{{ .ExtraData }}</td>
                                <td class="td-builder-num-blocks">{{ .NumBlocks | prettyInt }}</td>
                                <td class="td-builder-percent">{{ .Percent }} %</td>
                                <td></td>
                            </tr>
                            {{ end }}
                        {{ end }}
                    </tbody>

                    {{ range $relay, $builders := .Stats.TopBuildersByRelay }}
                    <tbody id="tbody-builders-{{ $relay }}" class="tbody-builders" style="display:none;">
                        {{ range $builders }}
                        <tr>
                            <td class="td-builder-extradata">
                                {{ if .Info.ExtraData }}{{ .Info.ExtraData }}{{ else }}&nbsp;{{ end }}
                                {{ if ne (len .Info.Aliases) 0 }}
                                <i class="tooltip-icon bi bi-info-circle" aria-describedby="tooltip-builder-alias"></i>
                                {{ end}}
                            </td>
                            <td class="td-builder-num-blocks">{{ .Info.NumBlocks | prettyInt }}</td>
                            <td class="td-builder-percent">{{ .Info.Percent }} %</td>
                        </tr>
                        {{ end }}
                    </tbody>
                    {{ end }}
                </table>
                <div class="copy-table-to-clipboard">
                    <a href="/overview/md" onclick="copyBuilders(event); return false;">copy markdown <i id="copy-builders-to-clipboard-icon" class="bi bi-clipboard"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div id="content-profitability" {{ if eq $view "overview" }}style="display: none;" {{ end }}>
        <table id="table-builderprofit" class="table-builderprofit sortable pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Builder extra_data</th>
                    <th>Blocks</th>
                    <th>Blocks with profit</th>
                    <th>Blocks with subsidy</th>
                    <th id="th-builderprofit-profittotal">Overall profit (ETH)</th>
                    <th>Subsidies (ETH)</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Stats.BuilderProfits }}
                <tr>
                    <td class="builder-extradata">
                        {{ if .ExtraData }}<span style="white-space: pre;">{{ .ExtraData }}</span>{{ else }}&nbsp;{{ end }}
                        {{ if ne (len .Aliases) 0 }}
                        <span class="tooltip-wrapper">
                            <i class="tooltip-icon bi bi-info-circle" aria-describedby="tooltip-builderprofit-alias"></i>
                            <div class="tooltip builder-aliases" role="tooltip">
                                <b>extra_data values:</b>
                                <ul>
                                    {{ range .Aliases }}
                                    <li>{{ . }}</li>
                                    {{ end }}
                                </ul>
                                <div class="arrow" data-popper-arrow></div>
                            </div>
                        </span>
                        {{ end }}
                    </td>
                    <td class="td-num-blocks" data-sort="{{ .NumBlocks }}">{{ .NumBlocks | prettyInt }}</td>
                    <td class="td-num-blocks-profit" data-sort="{{ .NumBlocksProfit }}">{{ .NumBlocksProfit | prettyInt }}</td>
                    <td class="td-num-blocks-subs" data-sort="{{ .NumBlocksSubsidised }}">{{ .NumBlocksSubsidised | prettyInt }}</td>
                    <td>{{ .ProfitTotal }}</td>
                    <td>{{ .SubsidiesTotal }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
        <div class="copy-table-to-clipboard">
            <a href="/builder-profit/md" onclick="copyBuilderProfit(event); return false;">copy markdown <i id="copy-builderprofit-to-clipboard-icon" class="bi bi-clipboard"></i></a>
        </div>

        ⚠️ Disclaimer: Relayscan uses block.coinbase ETH balance difference to measure builder's profits which could introduce inaccuracies when builders:
        <ul>
            <li>pay validator using another address</li>
            <li>pay for orderflow in other channels (e.g. offchain)</li>
            <li>have searching profits but use builder wallet funds to add bid value without depositing from searcher addresses</li>
        </ul>
    </div>


</div> <!-- end of content -->

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
    function timeSince(date) {
        var seconds = Math.floor(new Date() - date) / 1000;
        var interval = seconds / 31536000;
        if (interval > 1) {
            return Math.floor(interval) + " years";
        }
        interval = seconds / 2592000;
        if (interval > 1) {
            return Math.floor(interval) + " months";
        }
        interval = seconds / 86400;
        if (interval > 1) {
            return Math.floor(interval) + " days";
        }
        interval = seconds / 3600;
        if (interval > 1) {
            return Math.floor(interval) + " hours";
        }
        interval = seconds / 60;
        if (interval > 1) {
            n = Math.floor(interval)
            if (n == 1) {
                return n + " minute";
            } else {
                return n + " minutes";
            }
        }

        sec = Math.floor(seconds)
        if (isNaN(sec)) {
            return "";
        }
        return sec + " seconds";
    }

    var referenceTime = new Date("{{ $lastDataTime }}");
    var timeAgo = timeSince(referenceTime);
    if (timeAgo != "") {
        document.getElementById("updated_ago").innerText = "(" + timeAgo + " ago)";
    }

    const showEvents = ['mouseenter', 'focus'];
    const hideEvents = ['mouseleave', 'blur'];

    // Tooltip setup
    for (const tooltip of document.getElementsByClassName("tooltip-wrapper")) {
        const elTrigger = tooltip.querySelector(".tooltip-icon");
        const elTooltip = tooltip.querySelector(".tooltip");
        const popperInstance = Popper.createPopper(elTrigger, elTooltip, { modifiers: [{ name: 'offset', options: { offset: [0, 8] } }], });
        function showTooltip() {
            elTooltip.setAttribute('data-show', ''); // Show the tooltip
            popperInstance.setOptions((options) => ({ ...options, modifiers: [...options.modifiers, { name: 'eventListeners', enabled: true },] }));
            popperInstance.update(); // Update its position
        }
        function hideTooltip() {
            elTooltip.removeAttribute('data-show'); // Hide the tooltip
            popperInstance.setOptions((options) => ({ ...options, modifiers: [...options.modifiers, { name: 'eventListeners', enabled: false }] }));
        }
        showEvents.forEach((event) => {
            elTrigger.addEventListener(event, showTooltip);
        });

        hideEvents.forEach((event) => {
            elTrigger.addEventListener(event, hideTooltip);
        });
    }

    showBuildersForRelay = function (relay) {
        // hide all builders
        for (const topBuildersTbody of document.getElementsByClassName("tbody-builders")) {
            topBuildersTbody.style.display = "none";
        }

        // show specific builder
        if (relay == "") {
            document.getElementById("tbody-builders-all").style.display = "table-row-group";
        } else {
            document.getElementById("tbody-builders-" + relay).style.display = "table-row-group";
        }
    }

    relayMouseOver = function (relay) {
        showBuildersForRelay(relay)
    }

    relayMouseOut = function (relay) {
        showBuildersForRelay("")
    }

    // COPY TABLES AS MARKDOWN TO CLIPBOARD
    copyBuilders = function (e) {
        e.stopPropagation();
        var md = document.getElementById("md-builders").innerHTML;
        navigator.clipboard.writeText(md);
        document.getElementById("copy-builders-to-clipboard-icon").classList.remove("bi-clipboard");
        document.getElementById("copy-builders-to-clipboard-icon").classList.add("bi-clipboard-check");
        setTimeout(function () {
            document.getElementById("copy-builders-to-clipboard-icon").classList.remove("bi-clipboard-check");
            document.getElementById("copy-builders-to-clipboard-icon").classList.add("bi-clipboard");
        }, 1000);
    }

    copyBuilderProfit = function (e) {
        var md = document.getElementById("md-builderprofit").innerHTML.replace(/&amp;/g, '&');;
        navigator.clipboard.writeText(md);
        document.getElementById("copy-builderprofit-to-clipboard-icon").classList.remove("bi-clipboard");
        document.getElementById("copy-builderprofit-to-clipboard-icon").classList.add("bi-clipboard-check");
        setTimeout(function () {
            document.getElementById("copy-builderprofit-to-clipboard-icon").classList.remove("bi-clipboard-check");
            document.getElementById("copy-builderprofit-to-clipboard-icon").classList.add("bi-clipboard");
        }, 1000);
    }

    copyRelays = function (e) {
        e.stopPropagation();
        var md = document.getElementById("md-relays").innerHTML;
        navigator.clipboard.writeText(md);
        document.getElementById("copy-relays-to-clipboard-icon").classList.remove("bi-clipboard");
        document.getElementById("copy-relays-to-clipboard-icon").classList.add("bi-clipboard-check");
        setTimeout(function () {
            document.getElementById("copy-relays-to-clipboard-icon").classList.remove("bi-clipboard-check");
            document.getElementById("copy-relays-to-clipboard-icon").classList.add("bi-clipboard");
        }, 1000);
    }

    window.onload = (event) => {
        // fix for table sorting (it's already sorted, and this click makes the sortable plugin think it has done it)
        document.getElementById("th-builderprofit-profittotal").click()
    }
</script>

<div style="display: none;">
    <pre id="md-relays">{{ .Stats.TopRelays | relayTable}}
Top relays - {{ .TimeSpan }}, {{ $lastDataTime }} UTC, via [relayscan.io](https://www.relayscan.io)</pre>
    <pre id="md-builders">{{ .Stats.TopBuilders | builderTable}}
Top builders - {{ .TimeSpan }}, {{ $lastDataTime }} UTC, via [relayscan.io](https://www.relayscan.io)</pre>
    <pre id="md-builderprofit">{{ .Stats.BuilderProfits | builderProfitTable}}
Builder profits - {{ .TimeSpan }}, {{ $lastDataTime }} UTC, via [relayscan.io/builder-profit](https://www.relayscan.io/builder-profit)</pre>
</div>

<!-- <link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.css" rel="stylesheet" /> -->
<script src="/static/sortable.min.js"></script>
{{ end }}