{{ define "content" }}
{{ $lastUpdateTime := .LastUpdateTime }}
{{ $time := .TimeSpan }}
{{ $view := .View }}

<div class="content">
    <div style="text-align: center; margin-bottom:60px;">
        <h1 style="margin-bottom:10px;">Relay & Builder Stats</h1>
        <!-- <h2 style="margin-bottom:10px;">24h Stats</h2> -->

        <p style="color: #6d6d6d;">
            <small>updated {{ .LastUpdateTime }} UTC</small>
        </p>
        <p id="view-type">
            <a href="/?v=overview&t={{ $time }}" id="a-view-type-overview" {{ if eq $view "overview" }}class="active" {{ end }}>Overview</a>
            &middot;
            <a href="/?v=builderprofit&t={{ $time }}" id="a-view-type-profitability" {{ if eq $view "builderprofit" }}class="active" {{ end }}>Builder Profitability</a>
        </p>
        <p id="stats-time">
            {{ range $index, $timerange := .TimeSpans }}
            {{ if ne $index 0 }} &middot; {{ end }}
            <a href="/?v={{ $view }}&t={{ $timerange }}" id="stats-time-pick-{{ $timerange }}" class="stats-time-pick {{ if eq $timerange $time }}active{{ end }}">{{ $timerange }}</a>
            {{ end }}
        </p>
    </div>

    <div class="pure-g" id="content-overview" {{ if ne $view "overview" }}style="display: none;" {{ end }}>
        <div class=" pure-u-1 pure-u-md-1-2 stats-table" id="stats-relays">
            <div style="width: 100%; padding: 0px 30px;">
                <h2 id="header-top-relays">
                    <div id="copy-relays-to-clipboard">
                        <a href="javascript:void(0)" onclick="copyRelays(event)" title="Copy relays as markdown to clipboard"><i id="copy-relays-to-clipboard-icon" class="bi bi-clipboard"></i></a>
                    </div>

                    Top Relays
                </h2>

                <table class="pure-table pure-table-horizontal" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Relay</th>
                            <th>Payloads</th>
                            <th>Percent</th>
                        </tr>
                    </thead>
                    {{ range .Stats.TopRelays }}
                    <tbody id="tbody-relays" class="tbody-relays">
                        <tr class="tr-relay" onmouseover="relayMouseOver('{{.Relay}}')" onmouseout="relayMouseOut('{{.Relay}}')">
                            <td>{{ .Relay }}</td>
                            <td style="text-align:right">{{ .NumPayloads | prettyInt }}</td>
                            <td style="text-align:right">{{ .Percent }} %</td>
                        </tr>
                    </tbody>
                    {{ end }}
                </table>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2 stats-table" id="stats-builders">
            <div style="width: 100%; padding: 0px 30px;">
                <h2 id="header-top-builders">
                    <div id="copy-builders-to-clipboard">
                        <a href="javascript:void(0)" onclick="copyBuilders(event)" title="Copy builders as markdown to clipboard"><i id="copy-builders-to-clipboard-icon" class="bi bi-clipboard"></i></a>
                    </div>
                    Top Builders
                </h2>

                <table class="pure-table pure-table-horizontal" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Builder extra_data</th>
                            <th>Blocks</th>
                            <th style="min-width: 100px;">Percent</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-builders-all" class="tbody-builders">
                        {{ range .Stats.TopBuilders }}
                        <tr>
                            <td class="td-builder-extradata">
                                {{ if .ExtraData }}{{ .ExtraData }}{{ else }}&nbsp;{{ end }}
                                {{ if ne (len .Aliases) 0 }}
                                <i id="icon-tooltip-builder-alias" class="tooltip-icon bi bi-info-circle" aria-describedby="tooltip-builder-alias"></i>
                                <div id="tooltip-builder-alias" class="tooltip builder-aliases" role="tooltip">
                                    <b>extra_data values:</b>
                                    <ul>
                                        {{ range .Aliases }}
                                        <li>{{ . }}</li>
                                        {{ end }}
                                    </ul>
                                    <div id="arrow" data-popper-arrow></div>
                                </div>
                                {{ end }}

                            </td>
                            <td class="td-builder-num-blocks">{{ .NumBlocks | prettyInt }}</td>
                            <td class="td-builder-percent">{{ .Percent }} %</td>
                        </tr>
                        {{ end }}
                    </tbody>

                    {{ range $relay, $builders := .Stats.TopBuildersByRelay }}
                    <tbody id="tbody-builders-{{ $relay }}" class="tbody-builders" style="display:none;">
                        {{ range $builders }}
                        <tr>
                            <td class="td-builder-extradata">
                                {{ if .ExtraData }}{{ .ExtraData }}{{ else }}&nbsp;{{ end }}
                                {{ if ne (len .Aliases) 0 }}
                                <i id="icon-tooltip-builder-alias" class="tooltip-icon bi bi-info-circle" aria-describedby="tooltip-builder-alias"></i>
                                {{ end}}
                            </td>
                            <td class="td-builder-num-blocks">{{ .NumBlocks | prettyInt }}</td>
                            <td class="td-builder-percent">{{ .Percent }} %</td>
                        </tr>
                        {{ end }}
                    </tbody>
                    {{ end }}
                </table>

            </div>
        </div>
    </div>

    <div id="content-profitability" {{ if eq $view "overview" }}style="display: none;" {{ end }}>
        <table id="table-builderprofit" class="table-builderprofit sortable pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Builder extra_data</th>
                    <th>Blocks</th>
                    <th>Blocks with profit</th>
                    <th>Blocks with subsidy</th>
                    <th>Avg. profit / block</th>
                    <th>Profit total</th>
                    <th>Subsidies total</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Stats.BuilderProfits }}
                <tr>
                    <td class="builder-extradata">
                        {{ if .ExtraData }}<span style="white-space: pre;">{{ .ExtraData }}</span>{{ else }}&nbsp;{{ end }}
                        {{ if ne (len .Aliases) 0 }}
                        <i id="icon-tooltip-builderprofit-alias" class="tooltip-icon bi bi-info-circle" aria-describedby="tooltip-builderprofit-alias"></i>
                        <div id="tooltip-builderprofit-alias" class="tooltip builder-aliases" role="tooltip">
                            <b>extra_data values:</b>
                            <ul>
                                {{ range .Aliases }}
                                <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                            <div class="arrow" data-popper-arrow></div>
                        </div>
                        {{ end }}
                    </td>
                    <td class="td-num-blocks" data-sort="{{ .NumBlocks }}">{{ .NumBlocks | prettyInt }}</td>
                    <td class="td-num-blocks-profit" data-sort="{{ .NumBlocksProfit }}">{{ .NumBlocksProfit | prettyInt }}</td>
                    <td class="td-num-blocks-subs" data-sort="{{ .NumBlocksSubsidised }}">{{ .NumBlocksSubsidised | prettyInt }}</td>
                    <td>{{ .ProfitPerBlockAvg }}</td>
                    <td>{{ .ProfitTotal }}</td>
                    <td>{{ .SubsidiesTotal }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>


</div> <!-- end of content -->

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script>
    const tooltips = [
        ['#icon-tooltip-builder-alias', '#tooltip-builder-alias'],
        ['#icon-tooltip-builderprofit-alias', '#tooltip-builderprofit-alias'],
    ]

    const showEvents = ['mouseenter', 'focus'];
    const hideEvents = ['mouseleave', 'blur'];

    tooltips.forEach(([trigger, tooltip]) => {
        const elTrigger = document.querySelector(trigger);
        const elTooltip = document.querySelector(tooltip);
        const popperInstance = Popper.createPopper(elTrigger, elTooltip, { modifiers: [{ name: 'offset', options: { offset: [0, 8] } }], });
        function showTooltip() {
            elTooltip.setAttribute('data-show', ''); // Show the tooltip
            popperInstance.setOptions((options) => ({ ...options, modifiers: [...options.modifiers, { name: 'eventListeners', enabled: true },] }));
            popperInstance.update(); // Update its position
        }
        function hideTooltip() {
            elTooltip.removeAttribute('data-show'); // Hide the tooltip
            popperInstance.setOptions((options) => ({ ...options, modifiers: [...options.modifiers, { name: 'eventListeners', enabled: false }] }));
        }
        showEvents.forEach((event) => {
            elTrigger.addEventListener(event, showTooltip);
        });

        hideEvents.forEach((event) => {
            elTrigger.addEventListener(event, hideTooltip);
        });

    })


    showBuildersForRelay = function (relay) {
        // hide all builders
        for (const topBuildersTbody of document.getElementsByClassName("tbody-builders")) {
            topBuildersTbody.style.display = "none";
        }

        // show specific builder
        if (relay == "") {
            document.getElementById("tbody-builders-all").style.display = "table-row-group";
        } else {
            document.getElementById("tbody-builders-" + relay).style.display = "table-row-group";
        }
    }

    relayMouseOver = function (relay) {
        showBuildersForRelay(relay)
    }

    relayMouseOut = function (relay) {
        showBuildersForRelay("")
    }

    // COPY TABLES AS MARKDOWN TO CLIPBOARD
    copyBuilders = function (e) {
        e.stopPropagation();
        var md = document.getElementById("md-builders").innerHTML;
        navigator.clipboard.writeText(md);
        document.getElementById("copy-builders-to-clipboard-icon").classList.remove("bi-clipboard");
        document.getElementById("copy-builders-to-clipboard-icon").classList.add("bi-clipboard-check");
        setTimeout(function () {
            document.getElementById("copy-builders-to-clipboard-icon").classList.remove("bi-clipboard-check");
            document.getElementById("copy-builders-to-clipboard-icon").classList.add("bi-clipboard");
        }, 1000);
    }

    copyRelays = function (e) {
        e.stopPropagation();
        var md = document.getElementById("md-relays").innerHTML;
        navigator.clipboard.writeText(md);
        document.getElementById("copy-relays-to-clipboard-icon").classList.remove("bi-clipboard");
        document.getElementById("copy-relays-to-clipboard-icon").classList.add("bi-clipboard-check");
        setTimeout(function () {
            document.getElementById("copy-relays-to-clipboard-icon").classList.remove("bi-clipboard-check");
            document.getElementById("copy-relays-to-clipboard-icon").classList.add("bi-clipboard");
        }, 1000);
    }
</script>

<div style="display: none;">
    <pre id="md-relays">{{ .Stats.TopRelays | relayTable}}
Top relays - {{ .TimeSpan }}, {{ $lastUpdateTime }} UTC, via [relayscan.io](https://relayscan.io)</pre>
    <pre id="md-builders">{{ .Stats.TopBuilders | builderTable}}
Top builders - {{ .TimeSpan }}, {{ $lastUpdateTime }} UTC, via [relayscan.io](https://relayscan.io)</pre>
</div>

<!-- <link href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.css" rel="stylesheet" /> -->
<script src="/static/sortable.min.js"></script>
{{ end }}