# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.env*
!/.env.example

/relayscan
/backfill.sh
/tmp/
/static_dev/
/relayscan
/deploy*
/test.csv
/csv/
/build/