<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>relayscan.io &ndash; Ethereum MEV-Boost Monitoring</title>
    <meta name="description" content="MEV-Boost Relay Monitoring, Analytics & Data">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="">relayscan.io</a>

            <ul class="pure-menu-list">
                <!-- <li class="pure-menu-item"><a href="https://hackmd.io/XfSCHCb7RfOzjub72s54eg" class="pure-menu-link">About</a></li> -->
                <li class="pure-menu-item"><a href="https://twitter.com/relayscan_io" class="pure-menu-link"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <center>
            <h1>MEV-Boost Relay Monitoring & Analytics</h1>
        </center>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-2 stats-table">
                <div>
                    <h2>Top Relays</h2>
                    <p>
                        by payloads delivered, 24h
                    </p>
                    <table class="pure-table pure-table-horizontal">
                        <thead>
                            <tr>
                                <th>Relay</th>
                                <th>Payloads</th>
                                <th>Percent</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{ range .TopRelays }}
                            <tr>
                                <td>{{ .Relay }}</td>
                                <td style="text-align:right">{{ .NumPayloads | prettyInt }}</td>
                                <td style="text-align:right">{{ .Percent }} %</td>
                            </tr>
                            {{ end }}
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="pure-u-1 pure-u-md-1-2 stats-table">

                <div>
                    <h2>Top Builders</h2>
                    <p>
                        by blocks landed on-chain, 24h </p>
                    <table class="pure-table pure-table-horizontal">
                        <thead>
                            <tr>
                                <th>Builder extra_data (consolidated)</th>
                                <th>Blocks</th>
                                <th>Percent</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range .TopBuildersBySummary }}
                            {{ if (ge .NumBlocks 10) }}
                            <tr>
                                <td>{{ .ExtraData }}</td>
                                <td style="text-align:right">{{ .NumBlocks | prettyInt }}</td>
                                <td style="text-align:right">{{ .Percent }} %</td>
                            </tr>
                            {{ end }}
                            {{ end }}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div style="text-align: center; margin-top:80px;">
            <p>
                Updated: {{ .LastUpdateTime }} UTC</p>
            </p>

            <p>
                <a href="/api/stats">API for 24h stats</a>
            </p>

            <p>
                <b>More coming soon...</b>
            </p>
        </div>

        <div style="text-align: center; margin-top:80px;">
            <img src="/static/images/cows1.jpg" alt="" width="400">

        </div>

    </div>

</body>

</html>